@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* full header section e duita img set kora lagbe */
header{
    background-image: url("../images/developer.png") , url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right
    ;
}


nav{
    display: flex;
    align-items: center; 
      /*  align-items: center;     mane y axis e center */
    justify-content: space-between;
    /*  justify-content: space-between;  x axis e dui mathay falay */
    margin: 0 80px;
  
}

/* Mary   text er code */
.nav-title{
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;
}

/* MARY  er R  ke color korar code */
.mary{
    color:rgb(253, 110, 10);
}


/* protfolio & Blog & hire me ke ekline e anar jonno code */
/* nav-right ---> nav>ul */
.nav-right{
    display: flex;
    align-items: center;
    /* aling-items center --> portfolio+blog+button  ke y axis e center e rakhe ....ei 3ta ul er under e ...tai li er parrents e css apply*/
}

/* ul ke flex kore mary er sathe pasapasi ansi ul er child li ke */
/* li te margin  --< li gula lege ase */
/* list-style li er paser fota gula dur kore */
nav ul li{
    list-style: none;
    margin: 54px;
}
nav ul li a{
    text-decoration: none;
}


/* protfolio + blog er-- colour and font  */
.nav-right-text{
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
}

/* button designe */
.btn{
    border-radius: 5px;
    background: rgb(253, 110, 10);
    
    padding: 18px 35px;
    border-radius: 5px;
    border-style: none;
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px; 
}
.btn a{
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px; 
}

/* ----------- Banner section ------------ */

/* Banner content & img flex */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}


.banner-content{
    max-width: 585px;
    height: 356px;
    /* gap: 100px;  */
} 

/* Hi, I am  */
.banner h4{
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 600;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;
    /* gap: 50px; */
}


/* Mary Hardy */
.banner h1{
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 85px;
    font-weight: 700;
    line-height: 116px;
    letter-spacing: 0%;
    text-align: left;
}

.banner .banner-description{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.banner-img{
    margin: 25px;
    width: 585px;
    height: 676px;
}